@{
    Layout = "_LayoutNavWihtoutFooter";
}

<link href="~/css/afterreg.css" rel="stylesheet" />

<div class="container">
    <div class="icon-wrap">
        <span class="iconify fa fa-check" style="color: green;"></span>
    </div>
    <div class="content-wrap">
        <h1>Email Sent!</h1>
        <p>Check Your Mail, To change password</p>
    </div>
</div>
