@{
	Layout = "_Layout";
}

<link href="~/css/LoginFormV1.css" rel="stylesheet" />


<div class="section">
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">
					<div class="card-3d-wrap mx-auto">
						<div class="card-3d-wrapper">
							<div class="card-front">
								<div class="center-wrap">
									<div class="section text-center">
										<h4 class="mb-4 pb-3" style="color: white;">Reset Password</h4>
										<form method="post" asp-action="ForgetPassword">
											<div class="form-group">
												<input type="email" name="email" class="form-style" placeholder="Your Email" autocomplete="off">
												<i class="input-icon fa fa-envelope"></i>
												<hr />
												<span style="color: red;font-size:16px;">@ViewBag.ErrorMessage</span>
											</div>
											<button type="submit" class="btn mt-4">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
