@{
    Layout = "_LayoutNavWihtoutFooter";
}
<link href="~/css/afterreg.css" rel="stylesheet" />

<div class="container">
    <div class="icon-wrap">
        <span class="iconify fa fa-check" style="color: green;"></span>
    </div>
    <div class="content-wrap">
        <h1>Registration email sent to nik.kobaidze@gmail.com. Open this email to finish signup.</h1>
        <p>If you don't see this email in your inbox within 15 minutes, look for it in your junk mail folder. If you find it there, please mark the email as 'Not Junk'.</p>
    </div>
</div>


