@{
    Layout = "_LayoutHome";
}
<link href="~/css/home/home.css" rel="stylesheet" />
<link href="~/css/home/card2.css" rel="stylesheet" />
<link href="~/css/home/card.css" rel="stylesheet" />
<link href="~/css/home/logocarusel.css" rel="stylesheet" />

<section class="hero1" id="price">
    <h1 class="animate__animated animate__fadeInDown">Pick the perfect plan</h1>
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-duration="2000">
            <div class="card-title">Free</div>
            <div class="card-subtitle">Unlimited links and a customizable Linktree to connect your community to everything you are.</div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price"><span>$</span> 0</div>
                <button class="card-btn" onclick="location.href='@Url.Action("Main", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m397.78 316h-205.13a15 15 0 0 1 -14.65-11.67l-34.54-150.48a15 15 0 0 1 14.62-18.36h274.27a15 15 0 0 1 14.65 18.36l-34.6 150.48a15 15 0 0 1 -14.62 11.67zm-193.19-30h181.25l27.67-120.48h-236.6z"></path><path d="m222 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m368.42 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m158.08 165.49a15 15 0 0 1 -14.23-10.26l-25.71-77.23h-47.44a15 15 0 1 1 0-30h58.3a15 15 0 0 1 14.23 10.26l29.13 87.49a15 15 0 0 1 -14.23 19.74z"></path></svg>
                </button>
            </div>
        </div>
        <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <div class="card-title">Starter</div>
            <div class="card-subtitle">More customization and control for creators ready to drive more traffic to and through their Linktree.</div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price"><span>$</span> 5</div>
                <button class="card-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m397.78 316h-205.13a15 15 0 0 1 -14.65-11.67l-34.54-150.48a15 15 0 0 1 14.62-18.36h274.27a15 15 0 0 1 14.65 18.36l-34.6 150.48a15 15 0 0 1 -14.62 11.67zm-193.19-30h181.25l27.67-120.48h-236.6z"></path><path d="m222 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m368.42 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m158.08 165.49a15 15 0 0 1 -14.23-10.26l-25.71-77.23h-47.44a15 15 0 1 1 0-30h58.3a15 15 0 0 1 14.23 10.26l29.13 87.49a15 15 0 0 1 -14.23 19.74z"></path></svg>
                </button>
            </div>
        </div>

        <div class="card" data-aos="fade-up" data-aos-duration="2000">
            <div class="card-title">Premium</div>
            <div class="card-subtitle">The VIP support plan for businesses ready to monetize and sell on a larger scale.</div>
            <hr class="card-divider">
            <div class="card-footer"> 
                <div class="card-price"><span>$</span> 24</div>
                <button class="card-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m397.78 316h-205.13a15 15 0 0 1 -14.65-11.67l-34.54-150.48a15 15 0 0 1 14.62-18.36h274.27a15 15 0 0 1 14.65 18.36l-34.6 150.48a15 15 0 0 1 -14.62 11.67zm-193.19-30h181.25l27.67-120.48h-236.6z"></path><path d="m222 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m368.42 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m158.08 165.49a15 15 0 0 1 -14.23-10.26l-25.71-77.23h-47.44a15 15 0 1 1 0-30h58.3a15 15 0 0 1 14.23 10.26l29.13 87.49a15 15 0 0 1 -14.23 19.74z"></path></svg>
                </button>
            </div>
        </div>
    </div>
</section>
<svg class="wave1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#071952" fill-opacity="1" d="M0,256L80,224C160,192,320,128,480,128C640,128,800,192,960,208C1120,224,1280,192,1360,176L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
</svg>
<section class="hero2" id="about">
    <div class="container">
        <div class="content" data-aos="fade-up" data-aos-duration="2000">
            <h1>Demo</h1>
            <p>
                The Linktree  is a single webpage featuring a phone image with clickable links and profile information.
                It allows users to easily showcase and share multiple links to their social media profiles, websites, and more.
                The demo simplifies online presence management, saves time, and enhances personal branding or business outreach.
            </p>
        </div>

        <img data-aos="fade-up" data-aos-duration="1500" src="~/images/logoshome/iphone.png" />
    </div>
</section>
<svg class="wave2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#071952" fill-opacity="1" d="M0,256L80,245.3C160,235,320,213,480,213.3C640,213,800,235,960,213.3C1120,192,1280,128,1360,96L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
</svg>

<section class="hero4">
    <h1>Links or Resources</h1>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="~/images/logoshome/instagram_logo_png25.png"  class="logoIG" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/gmail_logo_png7.png" class="logoGM" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/youtube_logo_png7.png"  class="logoYT" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/pinterest_logo_png5.png" class="logoPN" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/facebook_logo_png9.png"  class="logoFB" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/discord_logo_png3.png" class="logoDC" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/linkedin_logo_png4.png"  class="logoLK" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/twitter_logo_png10.png"  class="logoTW" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/instagram_logo_png25.png" class="logoIG" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/gmail_logo_png7.png" class="logoGM" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/youtube_logo_png7.png" class="logoYT" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/pinterest_logo_png5.png" class="logoPN" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/facebook_logo_png9.png" class="logoFB" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/discord_logo_png3.png" class="logoDC" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/linkedin_logo_png4.png" class="logoLK" />
            </div>
            <div class="slide">
                <img src="~/images/logoshome/twitter_logo_png10.png" class="logoTW" />
            </div>
        </div>
    </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" class="wave3" viewBox="0 0 1440 320">
    <path fill="#071952" fill-opacity="1" d="M0,192L48,208C96,224,192,256,288,266.7C384,277,480,267,576,250.7C672,235,768,213,864,224C960,235,1056,277,1152,272C1248,267,1344,213,1392,186.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>
<section class="hero3">
    <h1>Get Start</h1>
    <div class="cards2-list">
        <div class="card2 2" data-aos="fade-down" data-aos-duration="600">
            <div class="card2_image">
                <img src="https://media.giphy.com/media/W5kjTBEn7TFf8tMZgJ/giphy.gif" />
            </div>
            <div class="card2_title title-white">
                <p>MAXIMIZE </p>
            </div>
        </div>

        <div class="card2 3" data-aos="fade-down" data-aos-duration="1200">
            <div class="card2_image">
                <img src="https://media.giphy.com/media/WirhZMBF1AZVK/giphy.gif" />
            </div>
            <div class="card2_title title-white">
                <p>YOUR </p>
            </div>
        </div>

        <div class="card2 4" data-aos="fade-down" data-aos-duration="1800">
            <div class="card2_image">
                <img src="https://media.giphy.com/media/kDg1bNCUZsUpmBdMwA/giphy.gif" />
            </div>
            <div class="card2_title title-white">
                <p>IMPACT</p>
            </div>
        </div>
    </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -10px;" viewBox="0 0 1440 320">
    <path fill="#071952" fill-opacity="1" d="M0,192L48,186.7C96,181,192,171,288,149.3C384,128,480,96,576,85.3C672,75,768,85,864,122.7C960,160,1056,224,1152,224C1248,224,1344,160,1392,128L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
</svg>




<script src="~/js/home.js"></script>